/* Normalize and reset */
@import "../../node_modules/modern-normalize/modern-normalize.css";

:root{
    line-height: 1.5;
    --main-color: rgb(255, 250, 243);
    --sec-color:#9e78363b;
    --trd-color:#b49b6b98;
    --text-main: #000000;
    --text-sec:#2b2b2b;
    --shadow: rgb(139, 138, 138);
    font-family: sans-serif;
}
html{
    height: 100%;
}
h1, h2, h3, h4, h5, figure, p, ol, ul {
    margin: 0;
}
ol[role="list"], ul[role="list"] {
    list-style: none;
    padding-inline: 0;
}
h1, h2, h3, h4, h5 {
    font-size: inherit;
    font-weight: inherit;
} 
img {
    display: block;
    max-inline-size: 100%;
}
.highlight{
    font-style: italic;
}
a{
    text-decoration: underline;
    color: var(--text-main);
}
h1{
    font-size: 36px;
    font-weight: bold;
}

/* END Normalize and reset */

body{
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
.left p{
    margin-top: 0.74rem;
    color: var(--text-sec);
}

header{
    min-height: 150px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem 1.5rem 2.5rem;
    gap: 2rem;
    box-shadow: 0px 5px 20px 0px var(--shadow);
}
.show{
    font-weight: bold;
    font-size: 36px;
    height: 50px;
    width: 50px;
    border: 1px solid var(--text-main);
    border-radius: 50%;
    background-color: var(--sec-color);
    box-shadow: 1px 2px 6px -1px var(--shadow);
}

footer{
    min-height: 50px;
    background-color: var(--trd-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}
.container{
    background-color: var(--sec-color);
}

